.plantsList {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.plantItem {
  width: 200px;
  height: 200px;
  margin: 2rem;
  display: flex;
  border-radius: 1.5rem;
  flex-direction: column;
  background-color: white;
}

.plantContent {
  margin: 0;
  width: 100%;
  height: 25%;
  padding-inline: 1rem;
}
.plantContent h3 {
  margin: 0;
  font-size: 1rem;
}
.plantContent p {
  margin: 0;
  font-size: 0.8rem;
}

.plantImg {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
